<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Welcome to Statext</title>
    <link href="assets/css/bootstrap.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  </head>
  <body>
    <h2>This text is <%= @results.notes.downcase %></h2>
    <p><%= @text %></p>
    <p><b>Word count: </b><em><%= @results.word_count %></em></p>
    <p>It is <b><%= @results.sentences %></b> sentences in length, has a total syllable count of <b><%= @results.syllables %><b>, and a raw readability score of <b><%= @results.score %></b>.</p>
    <p>It would be easily read by the average <%= @results.grade %> student.</p>
    <a href="/">Click here to check more text</a>
  </body>
</html>
